.firstRow .sapMListTblRow:nth-child(1) {
    background-color: #cce3eb;
}

.errorStep {
    background-color: #ffcccc;
}

.errorStepBorder {
    border: 3px solid #e60c0c;
}

.confirmMessageBox {
    width: 350px;
    height: 60px;
}